@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
:root{
    --desatRed:hsl(0, 36%, 70%);
    --softRed:hsl(0, 93%, 68%);
    --dgRed:hsl(0, 6%, 24%);
--buttonGradient:linear-gradient(135deg, hsl(0,80%,86%),hsl(0,74%,74%));
--buttonGradient2:linear-gradient(135deg,hsl(0,0%,100%),hsl(0,100%,98%));
}

body{
    font-family: 'Josefin Sans';
    background:linear-gradient(135deg, hsl(0,0%,100%),hsl(0,100%,98%));
font-size: 16px;
margin:0;

}
.attribution { font-size: 11px;

margin-bottom: 20px;
text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
h1{
    letter-spacing: 10px;
    text-transform:uppercase;
   font-weight: 600;
}
span{
    font-weight: 300;
    color:var(--desatRed)
}
#text{
    
    text-align: center;
    margin:auto;
   
}
#error{
font-size: 12px;
color:var(--softRed);
visibility: hidden;
}
#desc{
    color:var(--desatRed);
    margin-bottom: 30px;
}
#logo{
    width:100px ;
    height: 20px;
}
#wrapper{
    display: grid;
    
}
header{
    display: flex;
   
}
#submit{
    
   background:url("design/images/icon-arrow.svg"),linear-gradient(135deg, rgb(248, 191, 191),rgb(238, 140, 140));
    border-radius: 20px;
    background-color:var(--buttonGradient);
    background-repeat: no-repeat;

    background-position: center;
    height: 38px;
  
margin:-50px;
    border:none;

   margin-top: 0px;
    color:white;
}
input[type="email"]::placeholder{
    color:var(--desatRed);
padding:15px;
  font-size: 12px;
}

input[type="email"]{
    padding: 10px;
    color:var(--desatRed);
    border: solid 0.5pt var(--desatRed);
    border-radius: 20px;
    width: 75%;
    padding-right: 40px;
    background-color: transparent;
    
    background-repeat: no-repeat;
    background-position-y: center;
}

input[type="email"]:focus{
  
outline: none;
}
form{
    display: flex;
  
}

@media(max-width:700px){
  
#text{
    width:70%;
    max-width: 350px;
}
#wrapper{
 
    grid-template-rows: 70px 250px 1fr;
    
}
#submit{
    width:50px;
}
header{
    margin: 20px;
}
#photo{
    margin-bottom:30px;
width: 100%;

background-size: cover;
background-image: url("design/images/hero-mobile.jpg");
background-repeat: no-repeat;
}
input[type="email"]{
    background-position-x: 73%;
   
}

}

@media(min-width:701px){
#wrapper{
    grid-template-columns: 1.5fr 1fr;
}
#photo{
    background-image: url("design/images/hero-desktop.jpg");
background-size: cover;
  height: 100vh;
grid-row:1/3;

}
#text{
    width:60%;
max-width: 400px;
    text-align: left;
}
.attribution{
    width:70%;
}
header{
margin:5% 20%;
grid-row:1/2;
}
h1{
    font-size:50px;
}
input[type="email"]{
    background-position-x: 75%;
   
}
#submit{
    width: 60px;
   
}
}